project:
  type: website
  output-dir: docs
  
website:
  title: "UK regional economics tools and analysis in R"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
  sidebar:
    style: "docked"
    search: true
    contents:
      - section: "GDP and GVA"
        contents:
          - gdp_gaps.qmd
          - beattyfothergill.qmd
      - section: "Sectors"
        contents:
          - sector_locationquotients_and_proportions.qmd
          
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



